
@media (min-width:576px) and (max-width:767px){
    // CARRITO
    .carrito__items{
        flex-direction: row;
        justify-content: space-between;
    }
    .carrito__titulo{
        padding: 0 30px;
        text-align: start;
    }
    .carrito__total{
        text-align: end;
    } 
    // FOOTER
    .footer{
        flex-direction: row;
    }
}
@media (min-width:768px) and (max-width:991px){
    // INDEX
    #galeria button{
        width: 25%;
    }
    // CARRITO
    .carrito__items__nombre, .carrito__items__precio{
        text-align: center;
        padding: 10px;
    }
    .carrito__items{
        flex-direction: row;
        justify-content: space-between;
    }
    .carrito__titulo{
        padding: 0 30px;
        text-align: start;
    }
    .carrito__total{
        text-align: end;
    } 
    // FOOTER
    .footer{
        flex-direction: row;
    }
}
@media (min-width:992px) {
    // INDEX
    .navbar-expand-lg .navbar-collapse{
        justify-content: end;
    }
    .cards-columns{
        columns: 3 50px;
    }
    #galeria button{
        width: 25%;
    }
    // CATEGORIAS
    aside{
        display: flex;
    }
    .filtro__mobile{
        display: none;
        margin-left: 10px;
    }
    .ordenar label{
        display: flex;
    }
    .section__categorias__top{
        display: flex;
        justify-content: end;

    }
    .row {
        --bs-gutter-x: 1.5rem;
    }
    .nav-link:focus{
        text-align: start;
    }
    .dropdown-menu{
        text-align: start;
    }
    .dropdown-item{
        padding: .25rem 1rem;
    }
    // FOOTER
    .footer{
        flex-direction: row;
    }
    // CARRITO
    .carrito__items{
        flex-direction: row;
        justify-content: space-between;
    }
    .carrito__titulo{
        padding: 0 30px;
        text-align: start;
    }
    .carrito__total{
        text-align: end;
    } 
    // FOOTER
    .footer{
        flex-direction: row;
    }
}