@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primario: #FAFAF0;
    --secundario: #efe5dc;
    --complementario: #d0b8ac;
    --negro: #0D0D0D;
}
body{
    font-family: 'Rubik', sans-serif;
    background-color: var(--primario);
}
html, body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 15px;
    /* display: flex; */
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* HEADER */

#logo{
    width: 40px;
    border-radius: 50px;
}
header{
    background-color: var(--secundario);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    justify-content: center;
    display: flex;
    z-index: 5;
}
.header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.header__left{
    display: flex;
    gap: 15px;
    align-items: center;
    width: 100%;
}
.header__logo{
    display: flex;
    align-items: center;
}
.header__searchbar{
    width: 40px;
    height: 28px;
    border: none;
    padding: 12px 20px 12px 40px;

    background-color: var(--secundario);
    background-image: url(assets/img/bi_search-heart.png);
    background-repeat: no-repeat;
    background-size: 20px;

    outline: none;
    font-family: 'Rubik', sans-serif;
    margin-right: 10px;
    background-position: 10px 3px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    
}
.header__searchbar:focus{
    width: 100%;
    border-bottom: 2px solid var(--complementario);
}

    /* NAV */
.navbar{
    display: inline-flex;    
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    gap: 10px;
    color: var(--negro);
    align-items: center;
}
.navbar__carrito{
    margin-top: 5px;
}
.navbar a{
    color: var(--negro);
}
.navbar a:hover{
    color: var(--complementario);
}
.navbar__carrito:hover{
    fill: var(--complementario );
}
.navbar__categorias{
    margin-right: 10px;
}
.navbar__categorias:hover ul{
    display: block;
}
.menu__desplegable{
    display: none;
    position: absolute;
    background-color: var(--secundario);
    padding: 15px 5px;
    border-radius: 5px;
}
.navbar__categorias img{
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin-top: 2px;
    margin-left: 2px;
    position: absolute;
}
.menu__desplegable li{
    display: block;
    padding: 4px;
}
.menu__desplegable li:hover{
    background-color: var(--complementario);
    cursor: pointer;
}


.nav__mobile{
    display: none;
}
.nav__mobile:hover .nav__desplegable{
    display: block;
}
.nav__desplegable{
    margin-top: 20px;
    display: none;
    position: absolute;
    background-color: var(--secundario);
    padding: 15px 5px;
    border-radius: 5px;
}
.nav__desplegable li{
    display: block;
}
.nav__desplegable li:hover{
    background-color: var(--complementario);
    cursor: pointer;
}

/* INDEX */
.slider{
    width: 100%;
}
.slider img{
    width: 100%;
}
.container--grid{
    width: 90%;
    margin: 20px auto;
}
.container--grid__titulo{
    text-align: center;
    margin-bottom: 10px;
}
.container__galeria{
    width: 90%;
    display: grid;
    background-color: var(--primario);
    margin: auto;
    gap: 2px;
}
.container__galeria__img{
    width: 100%;
    border-radius: 5px;
    display: block;
    overflow: hidden; 

}
.container__galeria__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 1.3s;
    object-position: top;
}
.container__galeria__img img:hover{
    transform: scale(1.1);
    cursor: pointer;
}


/* AYUDA */
.container__ayuda{
    width: 80%;
    margin: auto;
    color: var(--negro);
    padding: 10px;
}

.separador{
    border-bottom: black dashed 2px;
    width: 100%;
}
.ayuda__titulo{
    font-size: 30px;
}
.ayuda__items{
    padding: 10px 5px;
}
.ayuda__items__pregunta{
    font-size: 20px;
    font-weight: bold;
}
.ayuda__items__respuesta{
    font-size: 16px;
}

/* CARRITO */
.container__carrito{
    width: 80%;
    margin: auto;
    box-shadow: 0 0 4px -2px black;
    padding: 20px;
    border-radius: 5px;
}
.carrito__titulo{
    font-size: 30px;
    font-weight: bold;
} 
.carrito__items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}
.carrito__items img{
    width: 200px;

}
.carrito__items__nombre{
    font-size: 18px;
}
.carrito__items__precio{
    font-size: 20px;
}
.carrito__total{
    text-align: end;
    margin: 5px 0;
    font-weight: bold;
    font-size: 20px;
}

/* CONTACTO */
.container__contacto{
    width: 60%;
    border: 2px solid #0D0D0D ;
    /* box-shadow: 0 0 4px -2px black; */
    margin: auto;
    padding: 20px;
    border-radius: 15px;
}
.form{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}
.form legend{
    font-size: 30px;
    font-weight: bold;
}
.form textarea{
    width: 100%;
    margin: 10px;
    border: 1px solid var(--negro);
    resize: none;
    text-indent: 10px;
    padding: 12px 0;
    outline: none;
    background: none;
    font-family: 'Rubik', sans-serif;
    border-radius: 10px;
}
.form textarea::placeholder{
    color: silver;
    font-size: 16px;
}
.input{
    width: 100%;
    height: 40px;
    position: relative;
    margin-top: 10px;
}
.input input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border: 1px solid var(--negro);
    border-radius: 10px;
    font-size: 16px;
    background: none;
    padding-left: 10px;
}
.input label{
    position: absolute;
    left: 0;
    bottom: 10px;
    color: silver;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease;
    padding-left: 10px;
    padding-right: 10px;
    
}
.input input:focus ~label,
.input input:valid ~label{
    transform: translateY(-20px);
    font-size: 16px;
    color: var(--negro);
    background-color: var(--primario);
}
.input input:focus,
.input input:valid{
    border-color: var(--negro);
}

.form button{
    background-color: var(--complementario);
    width: 40%;
    border: 0;
    font-family: 'Rubik', sans-serif;
    border-radius: 10px;
    padding: 10px 0;
    font-size: 14px;
}
.form button:hover{
    filter: brightness(90%);
    cursor: pointer;
}


/* CATEGORIAS */
.container__categorias{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
}
aside{
    width: 200px;
    margin-top: 38px;

}
.aside__categorias{
    color: var(--negro);
    background-color: var(--secundario);
    padding: 15px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    
}
.aside__categorias__titulo{
    font-size: 22px;
    font-weight: bold;

}
.aside__categorias__list li{
    font-size: 16px;
    padding: 0 0 3px 3px;
}
.aside__categorias li:hover{
    background-color: var(--complementario);
    cursor: pointer;
}
.section__categorias__top{
    margin-bottom: 10px;
}
.section__categorias{
    width: 100%;
}
.filtro__mobile{
    display: none;
    margin-left: 10px;
}
#filtro{
    background-color: var(--secundario);
    border: none;
    border-radius: 5px;
    padding: 3px;
}
#orden{
    background-color: var(--secundario);
    border: none;
    border-radius: 5px;
    padding: 3px;
}
option{
    border: none;
}
.ordenar{
    display: flex;
    justify-content: right;
    
    margin-right: 10px;
    color: var(--negro);
    align-items: center;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.card{
    background-color: var(--secundario);
    margin: 5px;
    width: 250px;
    /* box-shadow: 0 0 4px -2px black; */
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    /* animation: fadein 2s; */
}
.card:hover{
    filter: brightness(86%);
}
.card__top{
    padding: 10px;
    height: 80%;
    background-color: #ffffff;
    border-radius: 5px;
}
.card__bottom{
    padding: 10px;
    color: var(--negro);
}
.card__top img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: contain;
}
.card__bottom p{
    font-size: 18px;
    /* font-weight: bold; */
    
}
.card__bottom span{
    font-size: 16px;
    font-weight: bold;
}


/* FOOTER */
footer{
    background-color: var(--secundario);
    width: 100%;
    position: sticky;
    justify-content: center;
    bottom: 0;
    
}
.footer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px 0;
}
.footer img{
    width: 40px;
}
.footer svg{
    width: 20px;
}
.footer a{
    color: var(--negro);
}
.footer a:hover{
    color: var(--complementario);
}
.footer__contacto__item{
    display: flex;
    align-items: center;

}
.footer__contacto__item span{
    padding-left: 5px;  
}

/*MEDIAS*/ 

@media only screen and (max-width:440px){
    /*HEADER*/
    .header__left{
        justify-content: space-between;
    }
    .header__searchbar{
        background-position: right 3px;
        padding: 10px;
    }
    .navbar{
        display: none;
        
    }
    .nav__mobile{
        display: flex;
        gap: 10px;
    }
    .nav__mobile svg{
        height: 22px;
        width: 22px;
    }

    /*INDEX*/
    .container__galeria{
        grid-template-rows: repeat(6, 300px);
    }

    /*CONTACTO*/
    .container__contacto{
        width: 80%;
    }
    /*CARRITO*/
    .carrito__items{
        flex-direction: column;
    }
    .carrito__items img{
        width: 150px;
    }
    .carrito__total{
        text-align: center;
    }

    /*CATEGORIAS*/
    aside{
        display: none;
    }
    .section__categorias{
        width: 100%;
    }
    .filtro__mobile{
        display: flex;
    }
    .ordenar label{
        display: none;
    }
    .section__categorias__top{
        display: flex;
        justify-content: space-between ;
    }
    .card{
        width: 75%;
    }
    /*FOOTER*/
    .footer{
        padding: 10px 0px;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        width: 90%;
    }
}
@media only screen and (min-width:441px) and (max-width:540px){
    /*HEADER*/
    .header__left{
        justify-content: space-between;
    }
    .header__searchbar{
        background-position: right 3px;
        padding: 10px;
    }
    .navbar{
        display: none;
        
    }
    .nav__mobile{
        display: flex;
        gap: 10px;
    }
    .nav__mobile svg{
        height: 22px;
        width: 22px;
    }
    /*INDEX*/
    .container__galeria{
        grid-template-rows: repeat(6, 300px);

    }
    /*CARRITO*/
    .carrito__items{
        flex-direction: column;
    }
    .carrito__total{
        text-align: center;
    }
    /*CONTACTO*/
    .container__contacto{
        width: 70%;
    }
    /*CATEGORIAS*/
    aside{
        display: none;
    }
    .section__categorias{
        width: 100%;
    }
    .filtro__mobile{
        display: flex;
    }
    .ordenar label{
        display: none;
    }
    .section__categorias__top{
        display: flex;
        justify-content: space-between ;
    }

    /*FOOTER*/
    .footer{
        padding: 10px 0px;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        width: 90%;
    }

}
@media only screen and (min-width:541px) and (max-width:600px){
    /*HEADER*/
    .header{
        width: 80%;
    }
    .header__left{
        justify-content: space-between;
    }
    .header__searchbar{
        background-position: right 3px;
        padding: 10px;
    }
    .navbar{
        display: none;
        
    }
    .nav__mobile{
        display: flex;
        gap: 10px;
    }
    .nav__mobile svg{
        height: 22px;
        width: 22px;
    }
    /*INDEX*/
    .container__galeria{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .img1{
        grid-column: 1/2;
        grid-row: 1/2;

    }
    .img2{
        grid-column: 2/3;
        grid-row: 1/2;

    }
    .img3{
        grid-column: 1/2;
        grid-row: 2/3;

    }
    .img4{
        grid-column: 2/3;
        grid-row: 2/3;

    }
    .img5{
        grid-column: 1/2;
        grid-row: 3/4;

    }
    .img6{
        grid-column: 2/3;
        grid-row: 3/4;

    }
    /*CARRITO*/
    .carrito__items{
        justify-content: space-between;
    }
    .carrito__items__nombre, .carrito__items__precio{
        text-align: center;
        padding: 10px;
    }
    /*CONTACTO*/
    .container__contacto{
        width: 70%;
    }
    /*CATEGORIAS*/
    aside{
        display: none;
    }
    .section__categorias{
        width: 100%;
    }
    .filtro__mobile{
        display: flex;
    }
    .ordenar label{
        display: none;
    }
    .section__categorias__top{
        display: flex;
        justify-content: space-between ;
    }
    .card{
        width: 200px;
    }
    /*FOOTER*/
    .footer{
        flex-direction: row;
        text-align: start;
        width: 85%;
    }



}
@media only screen and (min-width:601px) and (max-width:767px){
    /*HEADER*/
    .header{
        width: 80%;
    }
    .navbar{
        display: none;
        
    }
    .header__left{
        justify-content: space-between;
    }
    .header__searchbar{
        background-position: right 3px;
        padding: 10px;
    }
    .nav__mobile{
        display: flex;
        gap: 10px;
    }
    .nav__mobile svg{
        height: 22px;
        width: 22px;
    }
    
    /*CARRITO*/
    .carrito__items{
        justify-content: space-between;
    }
    .carrito__items__nombre, .carrito__items__precio{
        text-align: center;
        padding: 10px;
    }
    /*INDEX*/
    .container__galeria{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .img1{
        grid-column: 1/2;
        grid-row: 1/2;

    }
    .img2{
        grid-column: 2/3;
        grid-row: 1/2;

    }
    .img3{
        grid-column: 1/2;
        grid-row: 2/3;

    }
    .img4{
        grid-column: 2/3;
        grid-row: 2/3;

    }
    .img5{
        grid-column: 1/2;
        grid-row: 3/4;

    }
    .img6{
        grid-column: 2/3;
        grid-row: 3/4;

    }
    /*CONTACTO*/
    .container__contacto{
        width: 70%;
    }
    /*CATEGORIAS*/
    aside{
        display: none;
    }
    .section__categorias{
        width: 100%;
    }
    .filtro__mobile{
        display: flex;
    }
    .ordenar label{
        display: none;
    }
    .section__categorias__top{
        display: flex;
        justify-content: space-between ;
    }
    .card{
        width: 200px;
    }
    /*FOOTER*/
    .footer{
        flex-direction: row;
        text-align: start;
        width: 80%;
    }

}

@media only screen and (min-width:768px) and (max-width:1400px){
    /*INDEX*/
    .container__galeria{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .img1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .img2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .img3{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .img4{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .img5{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .img6{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    /*CATEGORIAS*/
    .card{
        width: 230px;
    }

}

@media only screen and (min-width:1401px) {
    .container__galeria{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .img1{
        grid-column: 1/3;
        grid-row: 1/3;
    
    }
    .img2{
        grid-column: 3/4;
        grid-row: 1/3;
    
    }
    .img3{
        grid-column: 4/5;
        grid-row: 1/3;
    
    }
    .img4{
        grid-column: 1/2;
        grid-row: 3/5;
    
    }
    .img5{
        grid-column: 2/4;
        grid-row: 3/5;
    
    }
    .img6{
        
        grid-column: 4/5;
        grid-row: 3/5;
    }
}