@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primario: #FAFAF0;
    --secundario: #efe5dc;
    --complementario: #d0b8ac;
    --negro: #0D0D0D;
}
body{
    font-family: 'Rubik', sans-serif;
    background-color: var(--primario);
}
html, body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 15px;
    /* display: flex; */
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* HEADER */

#logo{
    width: 40px;
    border-radius: 50px;
}
header{
    background-color: var(--secundario);
    width: 100%;
    position: fixed;
    top: 0px;
    justify-content: center;
}
.header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.header__logo{
    display: flex;
    align-items: center;
}
.header__searchbar{
    border: 0;
    width: 50%;
    height: 24px;
    background-color: var(--primario);
    outline: none;
    font-family: 'Rubik', sans-serif;
    
}
.header__searchbar:hover{
    outline: none;
    border-bottom: #e8e4db solid 1px;
}
    /* NAV */
.navbar{
    display: inline-flex;    
    font-size: 14px;
    gap: 10px;
    color: var(--negro);
    align-items: center;
}
.navbar__carrito{
    margin-top: 5px;
}
.nav__mobile{
    display: none;
}
.navbar a{
    color: var(--negro);
}
.navbar a:hover{
    color: var(--complementario);
}
.navbar__categorias{
    margin-right: 10px;
}
.navbar__categorias:hover ul{
    display: block;
}
.navbar__categorias img{
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin-top: 3px;
    position: absolute;
}

.menu__desplegable{
    display: none;
    position: absolute;
    background-color: var(--secundario);
    padding: 15px 5px;
    border-radius: 5px;
}
.menu__desplegable li{
    display: block;
    padding: 4px;
}
.menu__desplegable li:hover{
    background-color: var(--complementario);
    cursor: pointer;
}

/* INDEX */
.slider{
    width: 100%;
}
.slider img{
    width: 100%;
}
.container--grid{
    width: 90%;
    margin: 20px auto;
}
.container--grid__titulo{
    text-align: center;
    margin-bottom: 10px;
}
.container__galeria{
    
    min-height: 600px;
    width: 90%;
    display: grid;
    background-color: var(--primario);
    margin: auto;
    gap: 2px;

}
.img{
    width: 100%;
    border-radius: 5px;
}
.img1{

    background-image: url(assets/img/chaleco1.jpg);
    background-size: cover;
}
.img2{

    background-image: url(assets/img/tenniskirt2.jpg);
    background-size: cover;
}
.img3{

    background-image: url(assets/img/sweter1.jpg);
    background-size: cover;
}
.img4{

    background-image: url(assets/img/pantalon3.jpg);
    background-size: cover;
}
.img5{

    background-image: url(assets/img/pantalon1.jpg);
    background-size: cover;
}
.img6{

    background-image: url(assets/img/buzo1.jpg);
    background-size: cover;
}
/* AYUDA */
.container__ayuda{
    width: 80%;
    margin: auto;
    color: var(--negro);
    padding: 10px;
}

.separador{
    border-bottom: black dashed 3px;
    width: 100%;
}
.ayuda__titulo{
    font-size: 30px;
}
.ayuda__items{
    padding: 10px 5px;
}
.ayuda__items__pregunta{
    font-size: 20px;
    font-weight: bold;
}
.ayuda__items__respuesta{
    font-size: 16px;
}

/* CARRITO */
.container__carrito{
    width: 80%;
    margin: auto;
    box-shadow: 0 0 4px -2px black;
    padding: 20px;
    border-radius: 5px;
}
.carrito__titulo{
    font-size: 30px;
    font-weight: bold;
} 
.carrito__items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
}
.carrito__items img{
    width: 200px;

}
.carrito__items__nombre{
    font-size: 18px;
}
.carrito__items__precio{
    font-size: 20px;
}
.carrito__total{
    text-align: end;
    margin: 5px 0;
    font-weight: bold;
    font-size: 20px;
}

/* CONTACTO */
.container__contacto{
    width: 60%;
    border: 3px dashed #0D0D0D ;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
}
.form{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}
.form legend{
    font-size: 30px;
    font-weight: bold;
}
.form input,textarea{
    width: 100%;
    margin: 5px;
    border: 0;
    resize: none;
    text-indent: 10px;
    padding: 12px 0;
    outline: none;
    font-family: 'Rubik', sans-serif;
    border-radius: 10px;
}
.form button{
    background-color: var(--complementario);
    width: 40%;
    border: 0;
    font-family: 'Rubik', sans-serif;
    border-radius: 10px;
    padding: 10px 0;
    
}
.form button:hover{
    filter: brightness(90%);
}


/* CATEGORIAS */
.container__categorias{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
}
aside{
    width: 20%;
    margin-top: 38px;

}
.aside__categorias{
    color: var(--negro);
    background-color: var(--secundario);
    padding: 5px 10px;
    width: 90%;
    height: auto;
    border-radius: 5px;
}
.aside__categorias__titulo{
    font-size: 24px;
    font-weight: bold;
}
.aside__categorias__list li{
    font-size: 16px;
}
.aside__categorias li:hover{
    background-color: var(--complementario);
    cursor: pointer;
}
.section__categorias__top{
    margin-bottom: 10px;
}
.section__categorias{
    width: 80%;
}
.filtro__mobile{
    display: none;
    margin-left: 10px;
}
#filtro{
    background-color: var(--secundario);
    border: none;
    border-radius: 5px;
    padding: 3px;
}
#orden{
    background-color: var(--secundario);
    border: none;
    border-radius: 5px;
    padding: 3px;
}
option{
    border: none;
}
.ordenar{
    display: flex;
    justify-content: right;
    
    margin-right: 10px;
    color: var(--negro);
    align-items: center;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.card{
    background-color: var(--secundario);
    margin: 5px;
    width: 30%;
    /* box-shadow: 0 0 7px -3px black; */
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.card:hover{
    filter: brightness(86%);
}
.card__top{
    padding: 10px;
    height: 80%;
    background-color: #ffffff;
    border-radius: 5px;
}
.card__bottom{
    padding: 10px;
    color: var(--negro);
}
.card__top img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: contain;
}
.card__bottom p{
    font-size: 18px;
    font-weight: bold;
}
.card__bottom span{
    font-size: 14px;
}
/* FOOTER */
footer{
    background-color: var(--secundario);
    width: 100%;
    position: sticky;
    justify-content: center;
}
.footer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px 0;
}
.footer img{
    width: 40px;
}
.footer svg{
    width: 20px;
}
.footer a{
    color: var(--negro);
}
.footer a:hover{
    color: var(--complementario);
}
.footer__contacto__item{
    display: flex;
    align-items: center;

}
.footer__contacto__item span{
    padding-left: 5px;  
}

/*MEDIAS*/ 

@media only screen and (max-width:440px){
    /*HEADER*/
    .header__searchbar{
        display: none;
    }
    .navbar{
        display: none;
        
    }
    .nav__mobile{
        display: flex;
        gap: 10px;
    }
    .nav__mobile svg{
        height: 22px;
        width: 22px;
    }

    /*INDEX*/
    .container__galeria{
        grid-template-rows: repeat(6, 300px);

    }
    .img{
        width: 80%;
        margin: 0 auto;
    }

    /*CONTACTO*/
    .container__contacto{
        width: 80%;
    }
    /*CARRITO*/
    .carrito__items{
        flex-direction: column;
    }
    .carrito__items img{
        width: 150px;
    }
    .carrito__total{
        text-align: center;
    }

    /*CATEGORIAS*/
    aside{
        display: none;
    }
    .section__categorias{
        width: 100%;
    }
    .filtro__mobile{
        display: flex;
    }
    .ordenar label{
        display: none;
    }
    .section__categorias__top{
        display: flex;
        justify-content: space-between ;
    }
    .card{
        width: 75%;
    }
    /*FOOTER*/
    .footer{
        padding: 10px 0px;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        width: 90%;
    }
}
@media only screen and (min-width:441px) and (max-width:540px){
    /*HEADER*/
    .header__searchbar{
        display: none;
    }
    .navbar{
        display: none;
        
    }
    .nav__mobile{
        display: flex;
        gap: 10px;
    }
    .nav__mobile svg{
        height: 22px;
        width: 22px;
    }
    /*INDEX*/
    .container__galeria{
        grid-template-rows: repeat(6, 300px);

    }
    .img{
        width: 80%;
        margin: 0 auto;
    }
    /*CARRITO*/
    .carrito__items{
        flex-direction: column;
    }
    .carrito__total{
        text-align: center;
    }
    /*CONTACTO*/
    .container__contacto{
        width: 70%;
    }
    /*CATEGORIAS*/
    aside{
        display: none;
    }
    .section__categorias{
        width: 100%;
    }
    .filtro__mobile{
        display: flex;
    }
    .ordenar label{
        display: none;
    }
    .section__categorias__top{
        display: flex;
        justify-content: space-between ;
    }
    .card{
        width: 40%;
    }
    /*FOOTER*/
    .footer{
        padding: 10px 0px;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        width: 90%;
    }

}
@media only screen and (min-width:541px) and (max-width:600px){
    /*HEADER*/
    .header{
        width: 80%;
    }
    .navbar{
        display: none;
        
    }
    .header__searchbar{
        display: none;
    }
    .nav__mobile{
        display: flex;
        gap: 10px;
    }
    .nav__mobile svg{
        height: 22px;
        width: 22px;
    }
    /*INDEX*/
    .container__galeria{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .img{
        height: 250px;
    }
    .img1{
        grid-column: 1/2;
        grid-row: 1/2;

    }
    .img2{
        grid-column: 2/3;
        grid-row: 1/2;

    }
    .img3{
        grid-column: 1/2;
        grid-row: 2/3;

    }
    .img4{
        grid-column: 2/3;
        grid-row: 2/3;

    }
    .img5{
        grid-column: 1/2;
        grid-row: 3/4;

    }
    .img6{
        grid-column: 2/3;
        grid-row: 3/4;

    }
    /*CARRITO*/
    .carrito__items{
        justify-content: space-between;
    }
    .carrito__items__nombre, .carrito__items__precio{
        text-align: center;
        padding: 10px;
    }
    /*CONTACTO*/
    .container__contacto{
        width: 70%;
    }
    /*CATEGORIAS*/
    aside{
        display: none;
    }
    .section__categorias{
        width: 100%;
    }
    .filtro__mobile{
        display: flex;
    }
    .ordenar label{
        display: none;
    }
    .section__categorias__top{
        display: flex;
        justify-content: space-between ;
    }
    /*FOOTER*/
    .footer{
        flex-direction: row;
        text-align: start;
        width: 85%;
    }



}
@media only screen and (min-width:601px) and (max-width:767px){
    /*HEADER*/
    .header{
        width: 80%;
    }
    .navbar{
        display: none;
        
    }
    .header__searchbar{
        display: none;
    }
    .nav__mobile{
        display: flex;
        gap: 10px;
    }
    .nav__mobile svg{
        height: 22px;
        width: 22px;
    }
    /*CARRITO*/
    .carrito__items{
        justify-content: space-between;
    }
    .carrito__items__nombre, .carrito__items__precio{
        text-align: center;
        padding: 10px;
    }
    /*INDEX*/
    .container__galeria{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .img{
        height: 300px;
    }
    .img1{
        grid-column: 1/2;
        grid-row: 1/2;

    }
    .img2{
        grid-column: 2/3;
        grid-row: 1/2;

    }
    .img3{
        grid-column: 1/2;
        grid-row: 2/3;

    }
    .img4{
        grid-column: 2/3;
        grid-row: 2/3;

    }
    .img5{
        grid-column: 1/2;
        grid-row: 3/4;

    }
    .img6{
        grid-column: 2/3;
        grid-row: 3/4;

    }
    /*CATEGORIAS*/
    aside{
        width: 25%;
    }
    .aside__categorias__titulo{
        font-size: 19px;
    }
    .section__categorias{
        width: 75%;
    }
    /*FOOTER*/
    .footer{
        flex-direction: row;
        text-align: start;
        width: 80%;
    }

}

@media only screen and (min-width:768px) and (max-width:1400px){
    .img{
        width: 100%;
        border-radius: 5px;
    }
    .img1{
        grid-column: 1/3;
        grid-row: 1/3;

    }
    .img2{
        grid-column: 3/4;
        grid-row: 1/3;

    }
    .img3{
        grid-column: 4/5;
        grid-row: 1/3;

    }
    .img4{
        grid-column: 1/2;
        grid-row: 3/5;

    }
    .img5{
        grid-column: 4/5;
        grid-row: 3/5;
  
    }
    .img6{
        grid-column: 2/4;
        grid-row: 3/5;

    }
    /*CATEGORIAS*/
    .aside__categorias__titulo{
        font-size: 22px;
    }
    aside{
        width: 25%;
    }
    .section__categorias{
        width: 75%;
    }
}
@media only screen and (min-width:1401px){
    .img{
        width: 100%;
        border-radius: 5px;
    }
    .img1{
        grid-column: 1/3;
        grid-row: 1/3;

    }
    .img2{
        grid-column: 3/4;
        grid-row: 1/3;

    }
    .img3{
        grid-column: 4/5;
        grid-row: 1/3;

    }
    .img4{
        grid-column: 1/2;
        grid-row: 3/5;

    }
    .img5{
        grid-column: 4/5;
        grid-row: 3/5;
  
    }
    .img6{
        grid-column: 2/4;
        grid-row: 3/5;

    }

    /*CATEGORIAS*/
    .card{
        width: 25%;
    }
}
