@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$paletaColores:(
    color1: #FAFAF0,
    color2: #efe5dc,
    color3: #b4e0e8,
    negro: #0D0D0D,
    blanco: #F2F2F2,
);
body{
    font-family: 'Rubik', sans-serif !important;
    background-color: map-get($map: $paletaColores, $key: blanco);
}
html, body{
    @extend .w-h-100;
}
a{
    text-decoration: none;
        &:hover{
            text-decoration: none;
        }
}
li{
    list-style: none;
}
h1, h2, h3, ul, ol, legend, p, label{
    margin: 0;
    padding: 0;
}
option{
    border: none;
}
.shadow1{
    box-shadow: 0 0 4px -2px black;
}
.p-20{
    padding: 20px;
}
.w-h-100{
    width: 100%;
    height: 100%;
}
@mixin direction($display, $direction, $align, $justifyc){
    display: $display;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justifyc;
}
::selection{
    color: map-get($map: $paletaColores, $key: color1);
    background-color: map-get($map: $paletaColores, $key: color3);
}
/* SCROLL */
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: map-get($map: $paletaColores, $key: color1);
}
::-webkit-scrollbar-thumb{
    background-color: map-get($map: $paletaColores, $key: color3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 10px;
}
/* HEADER */
#logo{
    width: 45px;
    border-radius: 50px;
}
.navbar{
    background-color: map-get($map: $paletaColores, $key: color2);
}
.navbar-nav{
    align-items: flex-end;
    padding-right: 5px;
}
.navbar-collapse {
    flex-grow: unset;
}
.nav-link:focus{
    text-align: end;
}
.dropdown-menu{
    background-color: map-get($map: $paletaColores, $key: color2);
    border: none;
    text-align: end;
}
.dropdown-item{
    padding: .25rem 0;
}
.navbar-light .navbar-nav .nav-link{
    color: map-get($map: $paletaColores, $key: negro);
}
.navbar-toggler{
    border: 0;
    padding: 0;
        &:focus{
            box-shadow: none;
        }
}
.dropdown-item:hover{
    background-color: map-get($map: $paletaColores, $key: color1);
}
/* INDEX */
.carousel-inner{
    max-height: 60rem;
}
.galeria__titulo{
    @extend .ayuda__titulo;
}
#galeria{
    margin: 25px auto 10px;
}
#galeria img{
    padding: 5px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#galeria button{
    border: none;
    width: 50%;
    background-color: transparent;
}
.modal{
    top: 100px;
}
.modal-content{
    border: none;
    border-radius: 0;
    background-color: transparent;
}
.modal-backdrop.show {
    opacity: .7;
}
button{
    background-color: transparent;
}
/* AYUDA */
.ayuda__titulo{
    text-align: center;
    padding: 15px;
}
.accordion-item{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #cacaca;
        &:first-of-type {
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }
}
.accordion-header{
    background-color: transparent;
    font-weight: 600;
}
.accordion-button{
    background-color: transparent;
    &:focus{
        border: none;
        box-shadow: none;
        color: map-get($map: $paletaColores, $key: negro);
    }
}
.accordion-button:not(.collapsed){
    color: map-get($map: $paletaColores, $key: negro);
    background-color: transparent;
    box-shadow: none;
    &::after{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
}
/* CARRITO */
.container__carrito{
    margin: 60px auto;
    border-radius: 5px;
    width: 80%;
}
.carrito__titulo{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
} 
.carrito__items{
    @include direction(flex, column, center, space-between);
    padding: 15px 30px;
        img{
            width: 200px;
        }
}
.carrito__items__nombre{
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.carrito__items__precio{
    font-size: 20px;
    text-align: center;
}
.carrito__total{
    text-align: center;
    margin: 5px 0;
    font-weight: bold;
    font-size: 20px;
}
/* CONTACTO */
.container__contacto{
    border: 2px solid map-get($map: $paletaColores, $key: negro);
    width: 90%;
    margin: 20px auto 10px;
    border-radius: 15px;
}
.form{
    @include direction(flex, column, center, unset);
    width: 60%;
    margin: auto;
    gap: 10px;
        legend{
            font-size: 30px;
            text-align: center;
        }
        textarea{
            width: 100%;
            margin: 10px;
            border: 1px solid map-get($map: $paletaColores, $key: negro);
            resize: none;
            text-indent: 10px;
            padding: 12px 0;
            outline: none;
            background: none;
            font-family: 'Rubik', sans-serif;
            border-radius: 10px;
                &::placeholder{
                    color: silver;
                    font-size: 16px;
                }
                &:focus{
                    border: 2px solid map-get($map: $paletaColores, $key: color3);               
                }
        }
        button{
            background-color: map-get($map: $paletaColores, $key: color3);
            width: 40%;
            border: 0;
            font-family: 'Rubik', sans-serif;
            border-radius: 10px;
            padding: 10px 0;
            font-size: 14px;
                &:hover{
                    filter: brightness(90%);
                    cursor: pointer;
                }
        }
}
.input{
    width: 100%;
    height: 40px;
    position: relative;
    margin-top: 10px;
        input{
            @extend .w-h-100;
            outline: none;
            border: none;
            border: 1px solid map-get($map: $paletaColores, $key: negro);
            border-radius: 10px;
            font-size: 16px;
            background: none;
            padding-left: 10px;
                &:focus ~label,
                &:valid ~label{
                    transform: translateY(-20px);
                    font-size: 16px;
                    color: map-get($map: $paletaColores, $key: negro);
                    background-color: map-get($map: $paletaColores, $key: blanco);
                }
                &:focus{
                    border: 2px solid map-get($map: $paletaColores, $key: color3);
                }
                
        }
        label{
            position: absolute;
            left: 0;
            bottom: -3px;
            color: silver;
            font-size: 16px;
            pointer-events: none;
            transition: all 0.3s ease;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 0.6rem;
        }
}
/* CATEGORIAS */
aside{
    display: none;
}
.row>*{
    padding: 0;
}
.row {
    --bs-gutter-x: 0;
}
.aside__categorias{
    color: map-get($map: $paletaColores, $key: negro);
    background-color: map-get($map: $paletaColores, $key: color2);
    height: fit-content;
    margin-top: 50px;
    border-radius: 5px;
}
.aside__categorias__titulo{
    font-size: 22px;
    font-weight: bold;
}
.aside__categorias__list li{
    font-size: 16px;
    padding: 0 0 3px 3px;
        &:hover{
            background-color: map-get($map: $paletaColores, $key: color1);
            cursor: pointer;
        }
}
.section__categorias__top{
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}
.filtro__mobile{
    display: flex;
}
#filtro{
    background-color: map-get($map: $paletaColores, $key: color2);
    border: none;
    border-radius: 5px;
    padding: 3px;
}
#orden{
    background-color: map-get($map: $paletaColores, $key: color2);
    border: none;
    border-radius: 5px;
    padding: 3px;
    
}
.ordenar{
    display: flex;
    color: map-get($map: $paletaColores, $key: negro);
    align-items: center;
        label{
            display: none;
        }
}
.categorias__cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.categorias__card{
    background-color: map-get($map: $paletaColores, $key: color2);
    border-radius: 5px;
    margin: 5px;
    max-width: 250px; 
}
.card:hover{
    filter: brightness(86%);
}
.card__top{
    height: 80%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
        img{
            @extend .w-h-100;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            object-fit: contain;
        }
}
.card__bottom{
    padding: 10px;
    color: map-get($map: $paletaColores, $key: negro);

        p{
            font-size: 18px;
        }
        span{
            font-size: 16px;
            font-weight: bold;
        }
}
/* FOOTER */
footer{
    background-color: map-get($map: $paletaColores, $key: color2);
    width: 100%;
    justify-content: center;
    bottom: 0; 
}
.footer{
    @include direction(flex, column, center, space-between);
    margin: auto;
    padding: 10px 0;
    gap: 10px;
    text-align: center;
        img{
            width: 40px;
        }
        svg{
            width: 20px;
        }
}
.footer h2{
    color: rgba(0,0,0,70%);
    font-size: calc(1.275rem + .5vw);
}
.footer__contacto__item{
    display: flex;
    align-items: center;
    flex-direction: row;
        span{
            padding-left: 5px;  
        }
}
.footer__contacto i{
    font-size: 22px;
}
$redsocial:(
    envelope: rgb(190, 48, 48),
    whatsapp: green,
    instagram: orange,
);
@each $brand, $color in $redsocial {
    .fa-#{$brand}:hover{
        color: $color;
        font-size: 24px;
        cursor: pointer;
    }
}
.copyright{
    text-align: center;
    background-color: #0d0d0d1f;

}
@import "_medias";